<div class="row">

  <div class="card">
    <div class="main">
      <img src="{{getImage()}}" alt="">
    </div>
    <div class="plot">
      <div class="content">
        <div *ngIf="movie.title">
          <h2>{{movie.title}}</h2>
        </div>
        <div *ngIf="movie.name">
          <h2>{{movie.name}}</h2>
        </div>
      </div>
      <div class="plot-content">
        <h3>Plot</h3>
        <p>{{movie.overview}}</p>
        <button [routerLink]="['/movies']" routerLinkActive >Back</button>
      </div>
    </div>
  </div>
</div>