<div class="tab-switch">
    <ul class="tabs">
      <li class="tab-slider1"  (click)="getTVs()">TV Shows</li>
      <li class="tab-slider2" (click)="getMovies()">Movies</li>
    </ul>
</div>

<div class="container">
  <div class="wrap">
      <div class="search">
          <input type="text" class="searchTerm" #search placeholder="searching for..." (input)="searchMovies(search.value)" />
          <button class="searchButton"><i class="fa fa-search fa-1x" (click)="searchMovies(search.value)"></i></button>
          <!-- <i class="fa fa-search fa-3x" (click)="searchTVs(search.value)"></i> -->
          <!-- treba napraviti da se traze i shows -->
      </div>
  </div>
</div>
<div class="container">
  <app-card-movie *ngFor="let movie of movies" [movie] = "movie"></app-card-movie>
</div>