<div class="tab-switch">
    <ul class="tabs">
      <li class="tab-slider1"  (click)="getTVs()">TV Shows</li>
      <li class="tab-slider2" (click)="getMovies()">Movies</li>
    </ul>
</div>

<div class="container">
  <div class="main">
      <h1 class="text-center">Search for any movie...</h1>
      <div class="search">
          <input type="text" #search placeholder="search for movie" (input)="searchMovies(search.value)" />
          <i class="fa fa-search fa-3x" (click)="searchMovies(search.value)"></i>
          <i class="fa fa-search fa-3x" (click)="searchTVs(search.value)"></i>
          <!-- treba napraviti da se traze i shows -->
      </div>
  </div>
</div>
<div class="container">
  <app-card-movie *ngFor="let movie of movies" [movie] = "movie"></app-card-movie>
</div>